<h1>Messages:</h1>
<div class="panel panel-default">
  <div class="panel-body message-box">
    <% @chatrooms.each do |chatroom| %>
      <% if chatroom.messages.present? %>
        <a href="<%= new_message_path(chatroom.sender_or_receiver_id(current_user)) %>">
          <div class="pull-right">
            <%= chatroom.last_message.timestamp rescue nil %><br><br>
          </div>
          <div class="">
            <img src="/assets/dummy.jpg" class="img-circle" alt="Cinque Terre">
            <%= chatroom.get_receiver_name(current_user) %>
            <% unread = chatroom.messages.unread(chatroom.id,current_user.id).count rescue nil %>
            <% if ((unread || 0) > 0)%>
              <div class="unread-button">
                <%= unread  %>
              </div>
            <% end %>
          </div><br>
          <%= chatroom.last_message.try(:body) rescue nil %></span><hr>
        </a>
      <% end %>
    <% end %>
  </div> 
</div>
