<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Payment Method", payment_method_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Payout Method", payment_setting_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Notification Settings", payout_method_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Payout Method</div>
      <div class="panel-body">
        <div class="container text-center">
          <% if !current_user.stripe_connected? %>
              <%= link_to image_tag('stripe_button.png'), connect_with_stripe_payment_setting_path %>
          <% else %>
              <br/>
              <div class="text-center">
                <%= link_to "Connected", "#", class: "btn btn-normal" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% if current_user.stripe_connected? %>
  <%= "connected" %>
<% else %>
  <%= link_to "Connect with stripe", connect_with_stripe_payment_setting_path %>
<% end %>