<div class="panel panel-default">
  <div class="panel-heading">
    <span><i class="fa fa-bolt" style="color: #ffb400"></i> $<%= @food.price %></span>
    <span class="pull-right">Per Order</span>
  </div>
  <div class="panel-body"> 
      <%= form_for @order, url: cart_path, html: { class: 'form-horizontal' } do |f| %>

      <div class="row">
        <div class="col-md-6">
          <label>First Order</label>
          <%= f.text_field :start_date, readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>

          <%= hidden_field_tag :food_id, @food.id %>
        </div>
        <div class="col-md-6">
          <label>Last Order</label>
          <%= f.text_field :end_date, readonly: true, placeholder: "End Date", class: "form-control datepicker"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7" style="margin-top:15px">
          <label>Quantity(Per Day)</label>      
        </div>
        <div class="col-md-5" style="margin-top:15px"> 
          <%= number_field_tag :quantity, '', placeholder: "Quantity", min: 0, class: "form-control"%>
        </div>
      </div>

      <h4 class="message-alert text-center"><span id="message"></span></h4>
      <div id="preview" style="display: none">
        <table class="order-table">
          <tbody>
            <tr>
              <td>Price</td>
              <td class="text-right">$<%= @food.price %></td>
            </tr>
            <tr>
              <td>Order Day(s)</td>
              <td class="text-right">x <span id="order_days"></span></td>
            </tr>
            <tr>
              <td class="total">Total</td>
              <td class="text-right">$<span id="order_total"></span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <br/>

      <%= f.submit "Proceed", id: "btn_book", class: "btn btn-normal btn-block", disabled: true %> 
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){ 
    var date = new Date();
    date.setDate(date.getDate());

    $('#order_start_date').datepicker({
    "format": "mm/dd/yyyy", 
    "weekStart": 1, 
    "startDate" : date,
    "autoclose": true
    });   

    $('#order_end_date').datepicker({
    "format": "mm/dd/yyyy", 
    "weekStart": 1, 
    "startDate" : date,
    "autoclose": true
    }); 
    $('#order_end_date').attr('disabled', true);   

    $('#order_start_date').datepicker().on('changeDate', function (ev) { 
      $('#order_end_date').attr('disabled', false);   

      var date = new Date(ev.date); 
      $('#order_end_date').datepicker({
      "format": "mm/dd/yyyy", 
      "weekStart": 1, 
      "startDate" : date,
      "autoclose": true
      }); 
      enableOrderNow();
    });

    $('#order_end_date').datepicker().on('changeDate', function (ev) {    
      var date = new Date(ev.date); 
      $('#order_start_date').datepicker({
      "format": "mm/dd/yyyy", 
      "weekStart": 1, 
      "startDate" : date,
      "autoclose": true
      });  
      

      var startDt=document.getElementById("order_start_date").value;
      var endDt=document.getElementById("order_end_date").value;

      if( (new Date(startDt).getTime() > new Date(endDt).getTime()))
      {
          $("#order_start_date").datepicker("update", new Date);
      }

      enableOrderNow() 
    });

    $("#quantity").on('change', function (ev) {  
      enableOrderNow() 
    });
  });

  function enableOrderNow()
  {
      if($("#order_start_date").val() && $("#order_end_date").val() && $("#quantity").val())
      {
        $('#btn_book').attr('disabled', false);   
      }
      else
      {
        $('#btn_book').attr('disabled', true);   
      }
  }

</script>


