<div class="row">
  <%= render "shared/sidebar", :action => action_name %>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Orders
      </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>S.No</td>
            <td>Price</td>
            <td>You Recieved</td>
            <td>Ordered At</td>
            <td>Status</td>
            <td>Food</td>
            <td>Reviews</td>
          </tr>
          <% @order_foods.each_with_index do |of,i| %>
            <tr>
              <td><%= i+1 %></td>
              <td>$<%= of.price %></td>
              <td>$<%= (of.price.to_f*0.85).round(2) rescue nil %></td>
              <td><%= of.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= of.order.status %></td>
              <td><%= link_to "Food", food_path(of.food_id), class: "btn btn-form" %></td>
              <td>
                <% if of.chef_reviewed? %>
                  <div id="stars_<%= of.id %>"></div>
                <% else %>
                  <%= render partial: "reviews/chef_form", locals: {order_food: of} %>
                <% end%>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  <% @order_foods.each_with_index do |of,i| %>
    $('#stars_<%= of.id %>').raty({
      path: '/assets',
      scoreName: 'chef_review[star]',
      score: <%= of.get_chef_reviewed %>
    });
  <% end %>
</script>