<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listings", foods_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Orders", your_orders_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Your Meals", your_meals_path, class: "sidebar-link " %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Orders
      </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>S.No</td>
            <td>Price</td>
            <td>Ordered At</td>
            <td>Status</td>
            <td></td>
          </tr>
          <% @orders.each_with_index do |order,i| %>
            <tr>
              <td><%= i+1 %></td>
              <td>$<%= order.price %></td>
              <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= order.status %></td>
              <td><%= link_to "View", order_path(order.id), class: "btn btn-form" %></td>
            </tr> 
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
