<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listings", foods_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Orders", your_orders_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Your Meals", your_meals_path, class: "sidebar-link " %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Orders
      </div>
      <div class="panel-body">


        <% @foods.each do |food| %>
            <% food.orders.each do |order| %>

                <div class="row">

                  <div class="col-md-2">

                      <p><%= order.status %></p>
                      <div class="form-inline">
                      <% if order.Waiting? %>
                          <%= link_to approve_order_path(order), method: :post do %> <i class="fa fa-thumbs-up fa-lg"></i> <% end %> |
                          <%= link_to decline_order_path(order), method: :post do %> <i class="fa fa-thumbs-down fa-lg"></i> <% end %>
                      <% end %>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <%= link_to food_path(order.food) do %>
                        <%= image_tag order.food.cover_photo(:thumb) %>
                    <% end %>
                  </div>
                  <div class="col-md-5">
                    <%= link_to order.food.listing_name, food_path(order.food) %><br/><br/>
                    <span>
                      <%= link_to user_path(order.user) do %>
                        <%= image_tag avatar_url(order.user), class: "img-circle avatar-medium" %>
                        <%= order.user.fullname %>
                      <% end %>
                    </span>
                  </div>

                  <div class="col-md-3 text-right">
                    <%= render partial: "reviews/chef_form", locals: {order: order} if order.Approved? %>
                  </div>


                </div>
                <hr/>

            <% end %>
        <% end %>





      </div>
    </div>
  </div>
  </div>
