<div class="row">
  <%= render "shared/sidebar", :action => action_name %>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Orders
      </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>S.No</td>
            <td>Price</td>
            <td>Ordered At</td>
            <td>Status</td>
            <td></td>
          </tr>
          <% @orders.each_with_index do |order,i| %>
            <tr>
              <td><%= i+1 %></td>
              <td>$<%= order.price %></td>
              <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= order.status %></td>
              <td><%= link_to "View", order_path(order.id), class: "btn btn-form" %></td>
            </tr> 
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
