<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listings", foods_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Your Orders", your_orders_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Meals", your_meals_path, class: "sidebar-link " %></li>

    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Listings
      </div>
      <div class="panel-body">

        <% @foods.each do |food| %>
          <div class="row">
            <div class="col-md-2">
            <%= image_tag food.cover_photo(:thumb) %>
            </div>
            <div class="col-md-7">
              <h4><%= food.listing_name %></h4>
            </div>
            <div class="col-md-3 right">
              <%= link_to "Update", listing_food_path(food), class: "btn btn-form" %>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
